.TicketBilling {
  color: #4c4c9d;
}

.TicketBilling-title {
  height: 64px;
  position: relative;
}

.TicketBilling-title-text {
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 19px;
  left: 84px;
}

.TicketBilling-list {
}

.TicketBilling-list-dot {
  font-size: 30px;
  margin-left: -10px;
}

.TicketBilling-list-element-content {
  color: #2b2c2d;
  font-size: 16px;
  margin: 10px 0;
}

.TicketBilling-busline-info-container {
  margin-top: 30px;
}

.TicketBilling-buslines-info-title {
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  width: 50%;
  float: left;
  margin-bottom: 15px;
}